<!DOCTYPE html>
<html ng-app="x0app" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tic Tac Toe</title>

    <link rel="stylesheet" href="webjars/angular-material/0.11.0/angular-material.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"/>
</head>
<body style="overflow: hidden;">

<div ng-view=""></div>

<script th:src="@{webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
<script th:src="@{webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>

<script th:src="@{webjars/angularjs/1.4.7/angular.min.js}"></script>
<script th:src="@{webjars/angularjs/1.4.7/angular-animate.min.js}"></script>
<script th:src="@{webjars/angularjs/1.4.7/angular-aria.min.js}"></script>
<script th:src="@{webjars/angularjs/1.4.7/angular-route.min.js}"></script>
<script th:src="@{webjars//ngstorage/0.3.9/ngStorage.min.js}"></script>

<script th:src="@{webjars/angular-material/0.11.0/angular-material.min.js}"></script>

<script type="text/javascript" th:src="@{js/app.js}"></script>
<script type="text/javascript" th:src="@{js/main-ctrl.js}"></script>
<script type="text/javascript" th:src="@{js/login-ctrl.js}"></script>
<script type="text/javascript" th:src="@{js/game-ctrl.js}"></script>
<script type="text/javascript" th:src="@{js/message-interpretor.js}"></script>
<script type="text/javascript" th:src="@{js/player-service.js}"></script>

</body>
</html>